

.page-container-ourteam{
    
    background-color: rgb(243, 243, 243);
    .header{

        background-color: rgb(220, 220, 220);
        display: flex;
        justify-content: start;
        column-gap: 20px;
        align-items: center;
        height: 80px;
        padding: 20px;

        .logo{
            width: 40px;
            height: 40px;
        }

    }

    .members-container{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        /* background-color: aquamarine; */

        .member-container{
            width: 25vw;
            height: fit-content;
            /* background-color: red; */
            display: flex;
            flex-flow: column;
            row-gap: 20px;
        }

        .member-name{
            font-size: x-large;
            /* background-color: rgb(220, 28, 130); */
            display: flex;
            justify-content: center;
        }

        .member-picture{

            width: 25vw;
            height: 25vw;
            border-radius: 13vw;
        }


    }

}