/* accountmanage.css */
.page-container {
    width: 95%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  .admin-header {
    background-color: #f3e9ee;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    font-size: 1.5rem;
  }
  
  /* Admin list and table styling */
  .admin-list {
    width: 100%;
    border-collapse: collapse;
  }

  .admin-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: adds a line between rows */
}

.admin-row > div,
.admin-row > button {
    margin-right: 10px;
}

.admin-row > div {
    flex-grow: 1;
}
.admin-row img {
  width: 24px; /* Adjust size as needed */
  height: auto;
}
  
  /* Footer styling */
  .footer {
    background-color: #f3e9ee;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
  }
  