
.page-container-bag{
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    /* background-color: rgb(238, 10, 128); */
    
    .product-container{

        padding-top: 10px; 
        /* remove padding later */
        margin: 20px;
        width: auto;
        height: calc(0.5 * (100vw - 40px));
        /* background-color: black; */
        display: flex;

    }

    .picture-container{
        width: 50%;
        height: 100%;
        /* background-color: rgb(144, 213, 71); */
        display : flex;
        justify-content: flex-end;
        column-gap: 5%;

        .pictureList{
            display: flex;
            flex-flow: column;
            height: 80%;
            width: 15%; /* 15% of width of .picture-container*/
            /* background-color: rgb(32, 32, 136); */
            row-gap: 5%;
        }

        .picture{
            filter: brightness(75%);
            width: 100%;
            height : 20%;
        }

        .picture:hover{
            filter: brightness(100%);
        }

        .selected{
            outline: solid black 0.1px;
            transform: scale(1.1);
            filter: brightness(100%);
            color: #efa5c7; 
        }

        .mainPicture{
            width: 80%; /* 80% of width of .picture-container*/
            height : 100%;
        }

    }
    
    .description-container{
        padding: 20px;
        width: 50%;
        height: 650px;
        /* background-color: darkred; */
        display: flex;
        
        flex-flow: column;
        justify-content: flex-start;
        row-gap: 10px;

        .horizontal-seperator-description{
            color: #da3481;
            background-color: #da3481;
            width: 100%;
            height: 3px;
        }

        .catagory-container{
           color: #efa5c7; 
        }

        .name-container{
            font-size: x-large;
        }

        .color-container{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 35px;
            background-color: #efa5c7; 
            border-radius: 20px;
        }

        .stock-section{
            display: flex;
            justify-content: center;
            align-items: center;

            div{
                width: 30%;
            }

        }

        .stock{
            display: flex;
            justify-content: flex-start;
        }

        .stock-container{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 35px;
            background-color: white;
            border-color: black;
            border: solid 0.1px; 
            border-radius: 20px;
        }

        .info{
            color : #efa5c7; 
        }


    }

    .horizontal-seperator-pink{
        color: #da3481;
        background-color: #da3481;
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        height: 3px;
    }

    .recommend-text{
        font-size: 40px;
        color: black;
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
    }

    
}



