/* editadmin.css */

.edit-admin-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-admin-form label {
  display: block;
  margin-bottom: 1rem;
  color: #303030;
}

.edit-admin-form input[type="text"],
.edit-admin-form input[type="email"],
.edit-admin-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #191919;
  background-color: #ccc;
}

.edit-admin-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #efa5c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.edit-admin-form button:hover {
  background-color: #FFC0CB;
}
