.submitButton {
    background-color: pink; /* Example color, adjust as necessary */
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    transition: 0.5s;
    color: white;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: rgb(165, 85, 98); /* Darker shade for hover state */
  }
  