/* loginsuccess.css */

.submitButton {
    background-color: pink; 
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    transition: 0.5s;
    color: white;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: rgb(165, 85, 98); 
  }
  