.page-container-productmanagement {
    width: 100%;
    padding: 20px;
    background-color: #f3f3f3;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dedede;
    align-items: center;
}

.addButton {
    border: none;
    width: 150px;
    padding: 10px;
    background-color: #7dc4e0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.mainNav {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.categoryButton, .searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
}

.searchInput {
    border: none;
    margin-right: 10px;
    flex-grow: 1;
}

.searchButton {
    width: 20px;
    height: 20px;
}

.product-table-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

.product-table th {
    font-weight: 100;
    color: #efa5c7;
    text-align: left;
    padding: 8px;
}

.product-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.product-table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.editButton, .deleteButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

